<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    
    <div style="margin-right: 100px">
        <h1 class="title" style="color: white;">Tennis tavolo Corridonia</h1>
    </div>

    <ul class="navbar-nav ml-auto  align-items-center">

        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                Chi siamo
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/orari">
                Orari
            </a>
        </li>
    </ul>

</div>