<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Orari della palestra</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Mercoledì sera: </h2>
        <h6 class="subtitle">
          21:30 - 24:00
        </h6>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7 text-center no-trans">
          <h2 class="title">Venerdì sera: </h2>
          <h6 class="subtitle">
            21:00 - 24:00
          </h6>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7 text-center no-trans">
          <h2 class="title">Sabato o domenica: </h2>
          <h6 class="subtitle">
            Partite di torneo con orario variabile di categoria D1 e D2
          </h6>
        </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Scrivici un messaggio
        </h2>
        <textarea style="height: 300px;
        width: 600px;">
        </textarea>
        <br>
        <br>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="#"
          ><span>Clicca per inviare il messaggio, ti risponderemo quanto prima <i class="ti-arrow-up"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->

