<div id="banner-innerpage" class="banner-innerpage" style="background-image: url(assets/images/landingpage/banner_tt.jpg);">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div>
        <h5 class="subtitle op-5" style="margin-left: 60%;line-height: 20px;">
          “Lo sport insegna che per la vittoria non basta il talento, ci vuole il lavoro e il sacrificio quotidiano.
          Nello sport come nella vita”
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="bg-light spacer feature1">
<div class="container">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center">
      <h2 class="title">Membri del team</h2>
      <h6 class="subtitle">
        Qua sotto trovi tutti i membri del team Corridonia Tennis-tavolo
      </h6>
    </div>
    <!-- Column -->
  </div>
  <div id="contents" class="row m-t-40 justify-content-center">
  <a (click)="print()">
    <div class="serv">
    <ul>
    <div class="col-md-4 wrap-feature1-box" *ngFor='let relay of relayOn'>
        <li>
      <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
        <div class="card-body p-40 text-center">
          <div class="icon-space display-5">
          <h5 class="font-medium">{{relay.name}}</h5>
            <img style="width: 240px; height: 179px; object-fit: cover;" [src]="relay.image"/>
          </div>
          <h5 class="font-medium">
            {{relay.points}}
          </h5>
          <h5 class="font-medium">
            Divisione: {{relay.division}}
          </h5>
        </div>
      </div>
    </li>
  </div>
  </ul>
</div>
  </a>
  </div>
    <!-- Column -->
    <!-- <div class="col-md-8 no-trans border-bottom mb-4" *ngFor="let bl of service.Blogs">
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row">
          <div class="col-md-2 no-trans">
            <span class="text-dark font-medium">{{ bl.blogDate }}</span>
            <h6 class="card-subtitle font-12 mt-1">By John Deo</h6>
          </div>
          <div class="col-md-7 no-trans">
            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.id)">
              {{ bl.heading.substring(0, 50) }}..
            </h5>
            <p class="m-t-20">
              {{ bl.subHeading }}
            </p>
          </div>
          <div class="col-md-3 no-trans">
            <a class="linking font-medium text-themecolor m-t-10 cursor-pointer">
              <span (click)="viewDetail(bl.id)">Show Detail</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>